[2016-03-17 07:35] crisu83 opened #4 "Consider prefixing properties"
It feels wrong to use valid HTML attribute names for component properties (button color, etc.).

Maybe we should prefix the attributes with something like `f` or `rf` (as in react-foundation).

Then again, while `fColor` sounds ok, `fOffsetOnLarge` doesn't sound that nice.

HOWEVER, this would remove the need for `lodash.omit` and reduce the number of dependencies, so I would seriously consider th

[2016-03-17 07:58] crisu83 opened #5 "Add Foundation classes by default"
In the current implementation Foundation classes (e.g. `badge`) are not added to a component when a custom class name is defined.

Here is how the Badge class names are currently built:

[code]

I propose that we add a boolean property that controls whether or not the Foundation class name is added, e.g. `noDefaultClassName`. With this change the implementation above would read:

[code]

[2016-03-17 10:44] #5 closed

[2016-03-17 10:45] crisu83 commented on #5
We opted to implement this to reduce the boilerplate when using custom classes.

[2016-03-20 22:45] merlinpatt opened #6 "Slider, Tooltip, other JS Components"
Do you have plans to include Slider, Tooltip, Reveal, and the other components that require JS to create them?

[2016-03-21 08:46] crisu83 commented on #6
Yes, Slider is actually on my table right now. Stay tuned for updates.

The current game plan is to implement at least one component as an example.

[2016-03-21 11:02] merlinpatt commented on #6
Awesome. From the code, it looks like you're rewriting the JS pieces in just React and not using `var elem = new Foundation.Slider(element, options);`?

[2016-03-21 15:11] crisu83 commented on #6
@merlinpatt are you referring to the jQuery plugins or the Angular components? It's obvious that neither is a really good match together with React.

[2016-03-21 16:22] merlinpatt commented on #6
The jQuery plugins. That makes sense. I was working on a similar project for Foundation using Meteor's Blaze. I'd love to start helping out with this one.

[2016-03-21 16:39] crisu83 commented on #6
I think what we'll do is create the stateless components and sub-components for all the stateful components, such as modal.

Then you can use this library seamlessly together with the jQuery library. However, I wouldn't encourage people to this approach thought, but it could maybe be used for prototyping.

This would also provide us with a perfect base for building the stateful React components.

[2016-04-07 07:01] hugovk opened #7 "Build broke due to external dependency changes"
### What did you do?
Triggered a build with no code changes.

### What did you expect to happen?
Build passes.

### What actually happened?
[Build failed.](https://travis-ci.org/nordsoftware/react-foundation/builds/121088908)

### What version of this module are you using?
develop

---

I updated the react-foundation docs link https://github.com/nordsoftware/react-foundation/commit/5791aa32450195b

[2016-04-08 09:19] #7 closed

[2016-04-10 09:10] takacsmark opened #12 "Server side rendering of `ResponsiveNavigation` has issues due to referring to `window` in the code"
I tried using this great repo in an isomorphic app. I found that the `ResponsiveNavigation` component has references to `window`:

[code]

This causes an issue on the server side.

Can you please confirm that this is known behavior. Is there a way to work around this in the code already?

Thanks

[2016-04-10 09:32] takacsmark commented on #12
I added a condition to all occurrences of window in ResponsiveNavigation like this:

[code]

This definitely passes server rendering and will work on client side as before. The layout will of course fall apart on the server so it's not a final solution, but it proves the case.

[2016-04-12 07:11] crisu83 commented on #12
While I'm sure that your solution works I would just check if `typeof window !== 'undefined`. We could even create a function for that in `utils.js`.

[2016-04-12 07:36] takacsmark commented on #12
Sounds reasonable, but that would not solve server side rendering of the component. This way there is a FOUC (Flash of unstyled content) when the page is loaded.

[2016-05-26 05:52] crisu83 commented on #12
@takacsmark We've actually also been building an universal React application during the past months so now the SSR is far more familiar to me. AFAIK the FOUC only happens during development, and we fixed it by hiding the content until the assets have been loaded.

We've also noticed that the `ResponsiveNavigation` component still requires some refactoring for being production ready. How has it wor

[2016-05-31 11:47] LarsErikDahl opened #13 "Resetting push and pull requires workaround"
### What did you do?
Createt a column with pushOnSmall={4} and pushOnMedium={0}

### What did you expect to happen?
Rendered HTML:
[code]
### What actually happened?
Rendered HTML:
[code]
### What version of this module are you using?
0.6.8

This is the offending line (line 92 in grid.js):
[code]

0 evaluates to false and class is not added. This also applies to a bunch of other classes.

I curren

[2016-05-31 13:02] Jalle19 commented on #13
You'll need to escape the HTML somehow, Github has filtered it away.

[2016-05-31 13:15] LarsErikDahl commented on #13
Yes, Jalle19, I didn't see that it disappeared.

[2016-05-31 13:34] Jalle19 commented on #13
Thanks. Since you know where the fault lies, could you perhaps make a PR?

[2016-06-05 15:08] takacsmark commented on #12
Good to hear you used this part with ssr.
We simplified our functional design for business reasons, and ended up using buttons instead of responsive navigation. So we have not looked into further details regarding ResponsiveNavigation.

[2016-07-02 16:16] ryuken opened #14 "Missing doc for ResponsiveNavigation"
### What did you do?
Tried to use ResponsiveNavigation

### What did you expect to happen?
Rendering of titleBarTitle is unknown

### What actually happened?
Rendering of titleBarTitle is unknown

### What version of this module are you using?
latest

Please include code that reproduces the issue. The best reproductions are self-contained scripts with minimal dependencies.

[code]

[2016-07-06 17:26] cythrawll opened #15 "Row/Column spams warnings in react 15.2.0"
### What did you do?\

use Column and Row properties with properties such as isColumn, offsetOnMedium, etc...

### What did you expect to happen?

react 15.2.0 not to throw warnings

### What actually happened?

spams Unknown Prop Warnings

### What version of this module are you using?

^0.6.8

I imagine this might be an issue throughout the library, but Row and Column were the only components in

[2016-07-11 13:24] supasympa commented on #15
+1

[2016-07-11 14:26] supasympa commented on #15
I had a look and it looks like the props are being transferred to the rendered element. In the case of Column I found that changing the following fixed the issue, but I'm not sure if it is the intended behaviour:

in **src/components/grid.js**

**BEFORE:**
[code]

**AFTER:**
[code]

[2016-07-11 14:41] supasympa commented on #15
in the case of Menu:

**ADD:**
**const { isSimple, alignment, ...rest } = props;**

[code]

[2016-07-18 08:11] nitelite commented on #15
+1. Would love to see this issue resolved.

[2016-08-11 19:33] mbrevda commented on #6
would really love to see a dropdown component!

[2016-08-30 19:44] jwvanderbeck opened #16 "SSL certificate expired on main project page react.foundation"
### What did you do?

Visited react.foundation

### What did you expect to happen?

Load the page

### What actually happened?

SSL Certificate error

[2016-08-30 21:08] Jalle19 commented on #16
Whoops, sorry about that. It's fixed now and shouldn't happen again. @hugovk can you close this as I don't seem to have permission?

[2016-08-30 23:24] #16 closed

[2016-08-31 16:29] bithavoc commented on #15
Is anyone working on this?

[2016-09-02 17:53] AlessandroMendozza opened #17 "npm WARN deprecated minimatch@0.3.0, minimatch@2.0.10, to-iso-string@0.0.2, jade@0.26.3,"
### What did you do?
`npm install`

### What version of this module are you using?
`node v6.3.1`
`npm 3.10.3`

Please include code that reproduces the issue. The best reproductions are self-contained scripts with minimal dependencies.

[code]

[2016-09-06 21:19] VEDA95 opened #18 "No docs for tabs"
### What did you do?
tried to use Tabs, TabItem, TabsContent, and TabPanel

### What did you expect to happen?
display respective tabs' panel

### What actually happened?
Tabs appear but no content appears

### What version of this module are you using?
latest

[code]

[2016-09-08 13:08] myk5000 opened #19 "This npm module doesn't seem to work with webpack"
### What did you do?
Installed react foundation

### What did you expect to happen?
It to work

### What actually happened?
Objects would load without styles or functionally. CSS and js didn't look like it was loaded. Objects used were Link, Button, and Colors. No colors were added to any of the objects during render.

### What version of this module are you using?
Latest as of today's date

Pleas

[2016-09-08 13:11] Jalle19 commented on #19
Could you perhaps elaborate on the `code goes here` part?

[2016-09-13 05:39] crisu83 commented on #18
@VEDA95 Unfortunately React and jQuery plugins doesn't play well together. Because of that you cannot use the Foundation JavaScript together with this library and we haven't had time to implement the JavaScript components yet.

[2016-09-13 05:41] crisu83 commented on #19
We use this library in numerous projects everyday that runs Webpack, so without any further info it's hard to lend you a hand.

[2016-09-13 12:35] myk5000 commented on #19
You guys can close the issue. If you have time please add the web pack
loader sample for this package to the read me.  I believe that's what was
holding me up.

On Tue, Sep 13, 2016, 12:41 AM Christoffer Niska <notifications@github.com>
wrote:

[2016-09-13 20:53] myk5000 commented on #19
Does react-foundation require foundation-sites? Looking at the start project there look to be more items required then listed in the readme directions, hard to tell from the package.json what is required.

[2016-09-14 17:55] crisu83 commented on #19
@myk5000 Well, it doesn't do anything visible if you don't have the style definitions so I guess you could say that it requires foundation-sites.

[2016-09-14 17:55] #19 closed

[2016-09-14 17:56] crisu83 commented on #17
These are just warnings from NPM, they are not direct dependencies so I wouldn't say that this is a valid issue for this project.

[2016-09-14 17:56] #17 closed

[2016-09-14 17:58] crisu83 commented on #15
We are also really annoyed by this as we use this library for numerous projects. The only problem is that while I know exactly what is causing the issue, it's a little bit hard to get rid of, mainly because it requires quite major refactoring at the core of this library. I will try to allocate time to this issue as soon as possible. Sorry for the inconvenience.

[2016-09-14 17:59] crisu83 commented on #14
Response navigation is probably going to get removed, because at least from our experienced it didn't really meet the requirements and we had to code a separate component in each project where we tried using it. I will have to take another look at this when I have time.

[2016-09-14 18:07] crisu83 commented on #13
I'll take a look at this when I have time.

[2016-09-14 18:08] crisu83 commented on #14
I'm closing this since there has not been any activity lately.

[2016-09-14 18:08] #14 closed

[2016-09-14 18:09] #18 closed

[2016-09-14 18:41] AlessandroMendozza commented on #17
Alright guys I agree with you about npm WARN && (and) I believe in your project. So to grow I think you should improve your documentation e.g. to how to make it works with just a plug and play components like in this environment https://github.com/facebookincubator/create-react-app#getting-started then your documentation would to continue to how to deploy apps or a platform of apps into linux mach

[2016-09-14 21:51] myk5000 commented on #19
So I'm new to both and want aware. Can you please update the wiki to show
all the needed dependencies

On Wed, Sep 14, 2016, 12:56 PM Christoffer Niska <notifications@github.com>
wrote:

[2016-09-14 22:38] crisu83 commented on #15
This has now been fixed in version `0.7.0`.

[2016-09-14 22:38] #15 closed

[2016-09-14 22:39] crisu83 commented on #13
This issue should be fixed in version `0.7.0` because now we check against `undefined`, instead of a falsy value.

[2016-09-14 22:39] #13 closed

[2016-09-17 17:13] crisu83 opened #20 "Reveal component"
I wrote an initial implementation of the Reveal component for a project I've been working on:
https://gist.github.com/crisu83/9f18311b4350de7a5a59b2192c5b09ee

Any comments?

[2016-09-29 17:23] apodolny opened #21 "Classnames module missing from dependencies"
I got the follow error:

[code]

which was solved by:
`npm install classnames --save`

[2016-09-30 06:45] deadcoder0904 opened #22 "Support for Dropdown & Drilldown components"

[2016-10-04 03:33] zythosec opened #23 "Unknown Prop Warning on ResponsiveNavigation Component"
**What did you do?**
Tried to create a simple ResponsiveNavigation component.

**What did you expect to happen?**
No warning.  It looks like the isHidden prop is getting passed through to the div via the TitleBar component here: https://github.com/nordsoftware/react-foundation/blob/develop/src/components/responsive.js#L73

I would expect that either removeProps needs to be called before passing th

[2016-10-04 06:26] Jalle19 commented on #21
@crisu83

[2016-11-14 15:28] micheljanssen opened #24 "Foundation not loading (styles)"
### What did you do?
Installed **react-foundation** step-by-step;

1. npm install -g create-react-app
2. create-react-app test
3. cd test
4. npm install react-foundation
5. I replaced the code in App.js to the following;

[code]

6. npm start

### What did you expect to happen?
I expected to see a grid system with 1 row and 4 columns (as in the examle on https://react.foundation/).

### What actua

[2016-11-20 17:52] merlinpatt commented on #20
I'd very much like to see Reveal added to this package. That's the one thing missing preventing us from using it.

With your implementation, is there anyway to dynamically change the inside of the Reveal?

I don't want to have to have dozens of modals on the page waiting to be opened.

[2016-11-30 04:59] joevillanueva commented on #24
@micheljanssen were you able to get this going? Doesn't seem to be working for me either.

[2016-12-06 07:47] jonyjeffry commented on #24
@micheljanssen @joevillanueva  you should use the <link> tab to include the css document

[2016-12-06 16:44] yn5 commented on #24
@jonyjeffry Could you elaborate a bit? Do I understand correctly you mean one should use an HTML `<link/>` tag to manually include Foundation's css?

Could one of the contributors maybe verify this so we can make a pull request out of this in order to clear it up in the docs? @crisu83

[2017-01-24 05:10] kozakluke commented on #23
Any update?
Because Waring still exist in newer version of React!

[2017-03-01 16:49] dragGH102 opened #25 "Styles as in react.foundation?"
Would it be possible to include in the Github repo the **css used for each component in react.foundation**?

I believe it would come very handy to many, to have some default  styling rather than implementing each and every class manually.

Thank you

[2017-03-12 08:41] wzup opened #26 "Is there a way to use one or two components only?"
Is there a way to use one or two components only? Without bringing whole library into the app?

This looks scary when you only need a Switch for example.
[code]

[2017-03-12 08:45] crisu83 commented on #26
The short answer is no. But the lib is not that large.

[2017-03-12 08:45] #26 closed

[2017-03-15 23:09] phoniks commented on #12
Has anyone had success using the `typeof window !== 'undefined'` solution?  I'm trying it (in place of @takacsmark's `ExecutionEnvironment.canUseDOM`) but getting 'window is not defined'.

[2017-04-05 18:20] cameronb23 commented on #23
Having the same issue. Documentation is also lacking, unsure of props but all I have tried have come up as unknown.

[2017-04-05 20:09] Jalle19 commented on #23
@crisu83 can you help these guys?

[2017-04-05 20:16] kozakluke commented on #23
this project is die, I don't use this components anymore..
I suggest migrate to react-toolbox, better, nicer..

[2017-04-25 20:09] addykim commented on #20
Any updates on this? Wanting to update the documentation and I'm currently trying to figure out to get Reveal on react-foundation's develop branch working. If things are going to change drastically soon then I'd prefer to hold off on writing the docs.

[2017-05-19 13:23] deadcoder0904 opened #28 "Support for Form"

[2017-06-17 19:57] kbrabrand opened #29 "Add accordion component"
The accordion component is currently missing, and is one of the more useful components and having it would be a good thing.

[2017-06-21 12:18] PavelPolyakov opened #31 "propTypes usage update required"
I believe we need to have another version released, which supports new versions of React

![image](https://user-images.githubusercontent.com/839290/27383712-785e7ea2-568c-11e7-878d-645547b3a861.png)

Regards,

[2017-06-21 19:06] #29 closed

[2017-06-21 19:28] crisu83 commented on #31
I changed this project to use use `prop-types` library. 70b1a77d705a0f238dba4102331a9ed4fb2c8933

[2017-06-21 19:28] #31 closed

[2017-06-21 19:31] PavelPolyakov commented on #31
@crisu83
you are supergreat! thank you for the fast response.

[2017-06-21 19:39] crisu83 commented on #21
This should already be fixed so I'm closing this.

[2017-06-21 19:39] #21 closed

[2017-06-21 19:41] PavelPolyakov commented on #31
@crisu83
We can wait for the actual release soon, right? 🙌
https://github.com/digiaonline/react-foundation/releases

[2017-06-21 19:53] crisu83 commented on #31
Sure, I just released version `0.8.0`.

[2017-06-22 15:01] larpo commented on #31
Seems like #30 slipped in a new instance of PropTypes import from react package...

[2017-06-22 19:10] crisu83 commented on #31
I can't make a PR to fix this because I'm at the summer cottage. It would be great if you could submit a PR that fixes this issue.

[2017-06-23 13:30] dmigliorisi commented on #24
Having this same issue here. Looks like there isn't any CSS included with this package. What has everyone else been doing to import the Foundation CSS?

[2017-06-26 02:53] rmendelovits opened #35 "Update Proctypes"
### What did you do?
npm install --save react-foundation
### What did you expect to happen?
program would run
### What actually happened?
console.warn node_modules/react/lib/lowPriorityWarning.js:40
    Warning: Accessing PropTypes via the main React package is deprecated, and will be removed in  React v16.0. Use the latest available v15.* prop-types package from npm instead. For info on usage, co

[2017-06-27 02:36] onyno commented on #24
I added foundation-sites as a yarn dependency, then in my index.js
`import 'foundation-sites/dist/css/foundation.min.css'`

[2017-06-27 17:08] gpspake commented on #24
This library simply provides react components that generate foundation markup so you can type `<Row>` instead of `<div className="row"></div>` It expects you to include the css yourself so including styles would be outside of the scope of this project. You just need to make sure to include the foundation css separately just like you would if you weren't using this package.

[2017-06-27 20:24] gpspake opened #36 "Updating for X-Y grid"
Starting a conversation:
Foundation 6.4 has been released with an [all new grid and syntax](http://foundation.zurb.com/sites/docs/xy-grid.html) so I guess the components need to be updated to support the new grid - probably with continued support for the existing - now legacy - float grid as people might still want to use it.
The new components shouldn't be too difficult to add and, without promis

[2017-06-29 15:58] dkmartin opened #37 "Trying to get Accordion component to work"
### What did you do?
I installed react-foundation using npm.
Then in my component I imported the necessary react-foundation components.
`import { Accordion, AccordionItem, AccordionContent, AccordionTitle} from 'react-foundation'`

Then  I set up my component as shown below (there's an axios get being called in componentDidMount to set the donors state).

[code]
### What did you expect to happen?

[2017-06-30 11:02] larpo commented on #35
This is duplicate of #31 and is fixed with #34

[2017-06-30 11:04] larpo commented on #25
As mentioned also in #24, you need to include foundation styles your self (install foundation-styles from npm and import the styles).

[2017-06-30 11:25] #35 closed

[2017-06-30 11:25] rmendelovits commented on #35
thank you

[2017-06-30 12:38] Jalle19 commented on #25
@crisu83 maybe we should mention this in the README since it seems to be a source of confusion?

[2017-06-30 12:39] Jalle19 commented on #37
@kbrabrand maybe you can help since you added this?

[2017-07-03 08:04] kbrabrand commented on #37
Sorry about the delay, I've been on vacation ☀️.

Yeah. This is the discussion mentioned in #30 regarding stateful vs. stateless component. When implementing I had to make a choice on whether the state should be kept by the component or should be something that the app that use the component should keep the state and pass it to the component.

The decision was to let the components be stateless an

[2017-07-03 08:09] kbrabrand commented on #37
Here is an example of how we've used it in a project:

[code]

[2017-07-03 10:01] Jalle19 commented on #37
@kbrabrand I have no opinion on any of this, I'm not a front-end developer.

[2017-07-05 08:25] crisu83 commented on #37
@kbrabrand I agree with the original decision as there are far too many edge-cases to account for.

[2017-07-05 08:25] #37 closed

[2017-07-05 08:42] crisu83 commented on #36
@gpspake Good idea, but unfortunately I don't have time to work on this right now. Feel free to make a PR for this nevertheless.

[2017-07-05 10:38] crisu83 opened #40 "Remove the develop branch"
Things needed:

* [x] Update [.github/CONTRIBUTING.md](https://github.com/digiaonline/react-foundation/blob/develop/.github/CONTRIBUTING.md)
* [x] Update badge links in the [README](https://github.com/digiaonline/react-foundation/blob/develop/README.md)
* [x] Switch default branch at https://github.com/digiaonline/react-foundation/settings/branches
* [x] Delete develop branch

[2017-07-05 10:41] #40 closed

[2017-07-08 22:42] brentdodell commented on #36
👍

[2017-07-10 15:30] gpspake commented on #36
Does anyone have any thoughts on the best way to go about this; you'd probably want to maintain an option to use the legacy grid, so do you provide some config to avoid naming conflicts? Do you prefix the components with xy?

[2017-07-10 15:35] gpspake commented on #36
on second though, I guess there aren't any conflicts if we use [Grid and Cell](http://foundation.zurb.com/sites/docs/xy-grid.html)

[code]

becomes:

[code]

Thoughts?

[2017-07-14 15:21] ebgranger opened #41 "Looking for some direction for new PRs..."
Hey Guys,

I'm looking to see what you might want help with. I think I could flesh out some examples, look into making some of your components stateless, maybe connect the examples to redux to show a prototype for the more complex "dumb" components. I'd also like to add certain syntactic/structural changes according to the linters I've been used to but I don't want to make any PRs before getting a

[2017-07-15 09:21] Jalle19 commented on #41
In general we are open to any kind of contributions! Many of us are on vacation right now so the feedback loop may me a bit slow though.

[2017-07-27 13:55] allthesignals commented on #41
Hi @ebgranger, our team at @NYCPlanning is doing the same. @andycochran is a Foundation contributor on our team as well. Which component are you looking at starting with? We'd like to get ResponsiveNavigation better documented and address things like #23.

[2017-07-27 14:26] crisu83 commented on #41
We'd like to make this library stateless because there are so many things to consider case-by-case when writing stateful components. I have been planning on removing the `ResponsiveNavigation` completely.

[2017-07-27 14:50] allthesignals commented on #41
@crisu83 why remove it? I'm modeling my thinking about this around [React-SemanticUI integration](https://react.semantic-ui.com), where everything is a component. ResponsiveNavigation requires JS, it'd be nice to have a component for it.

[2017-08-02 12:26] iloginow commented on #36
@gpspake Obviously all that we have to do in order to support the new XY Grid is simply add 2 new components: Grid and Cell. And update the Foundation version to 6.4.0 the package.json file of course. I don't see any possible conflicts whatsoever. I'd love to use Foundation + React as a "Front End Standard" for my projects. And I think this new XY Grid is fantastic so those two components are real

[2017-08-06 12:41] nkahoang opened #42 "Use `prop-types` instead of React.PropTypes for Accordion component"
### What did you do?
Using react-16beta with react-foundation failed because react-foundation's Accordion components was using `React.PropTypes`, which is deprecated in React v15.x and removed in v16; instead of the recommended way of using the dedicated package: `prop-types`

### What did you expect to happen?
Accordion to use `prop-types` package instead of React.PropTypes

### What version of t

[2017-08-07 09:54] hugovk commented on #42
This should have been fixed in https://github.com/digiaonline/react-foundation/pull/34 and released in version 0.8 https://github.com/digiaonline/react-foundation/pull/39.

https://github.com/digiaonline/react-foundation/blob/master/src/components/accordion.js#L2 has:

[code]

@nkahoang Please can you double check what version you're using?

[2017-08-07 10:22] hugovk commented on #42
I just did an `npm i react-foundation` and the installed node_modules/react-foundation/src/components/accordion.js has:
[code]

Please update the version you're using.

[2017-08-07 10:22] #42 closed

[2017-08-28 08:25] #4 closed

[2017-08-28 08:51] crisu83 commented on #36
This has been done, thanks to @iloginow.

[2017-08-28 08:51] #36 closed

[2017-08-28 08:52] crisu83 commented on #41
@allthesignals The reason to remove it would be simplicity and to make maintenance easier for us. I suspect that the needs for such components cannot be generalized enough to be a part of this library.

[2017-08-28 08:58] crisu83 commented on #25
@Jalle19 Agreed. We want to keep this library separate from the styles for a better separation of concerns. Some mention about this in the docs wouldn't be a bad idea.

[2017-08-28 09:00] crisu83 commented on #23
This issue has been fixed.

[2017-08-28 19:50] konradreiche commented on #23
@crisu83 How has this been fixed? I've updated my `react-foundation` dependency to `0.9.0` but the warning still persists

[code]

[2017-08-29 05:50] crisu83 commented on #23
My bad, I must have mixed this issue with another. I'll reopen it.

[2017-08-30 12:40] danielearwicker opened #44 "TypeScript support"
Looking to use this awesome package in a TS project. My options are:

- forgo type checking for now (just tell TS not to check react-foundation)
- write type declarations standalone and submit to DefinitelyTyped. Future users in my situation will have to say `npm install react-foundation @types/foundation` and the declarations will have to be manually kept in sync with future changes to your API
-

[2017-08-30 15:17] crisu83 commented on #44
Hey, glad to hear that you like our project. As this is a library I would prefer disconnecting type definitions from the code base. Also, we use Flow in all of our projects, so that would most likely be our choice of type definition. Does this help you?

[2017-08-30 17:03] danielearwicker commented on #44
No problem, the second option (put declarations in DefinitelyTyped) is still fairly seamless for users, so I'll go with that.

(Side note: you may be under a misapprehension about type definitions not being allowed in libraries - many libraries are written in TS and consumed by JS projects (Angular, MobX). Others have hand-written but built-in type declarations for TS, e.g. Redux, immutable.js)

[2017-08-30 17:46] crisu83 commented on #44
I know that it's totally fine to have typings in the code-base. But, as I mentioned our choice would be Flow for React-related libraries. I have actually been thinking of adding Flow definitions for this project.

[2017-08-31 12:55] brentdodell opened #45 "Question about overriding enums.js"
Hello, I'm fairly new to React (and not an expert at JS in general). Do you have any suggestions on the best way to override the built in enums that get imported into each component?

I am using the scss version of foundation-sites, and I've made some modifications to the settings file. I've added new colors to the foundation-palette (what controls the colors for components...`primary`, `secondary

[2017-08-31 15:06] crisu83 commented on #45
There is no need to override the enumerables for this. All of these modifiers are already supported. For hollow you can use the `isHollow` property. If you want to define custom classes you can use the `className` property. There is even a property for omitting the default class.

[2017-08-31 15:06] #45 closed

[2017-09-01 21:32] brentdodell opened #46 "Error: Unexpected token You may need an appropriate loader to handle this file type."
I get the following error when trying to transpile with babel through webpacker. My guess is I'm missing a babel plugin, but I haven't been able to figure out which one. Has anyone else experienced this and found a fix?

Thanks!

<img width="1015" alt="screen shot 2017-09-01 at 4 10 02 pm" src="https://user-images.githubusercontent.com/9657923/29988479-29fd14aa-8f33-11e7-98cd-eaeacc4617c4.png">

[2017-09-02 09:27] crisu83 commented on #46
I would strongly recommend using the configurations that you get when you create your project using [Create React App](https://github.com/facebookincubator/create-react-app).

Closing this issue because it's most likely caused by a faulty Webpack configuration.

[2017-09-02 09:27] #46 closed

[2017-09-02 14:21] froger opened #47 "Foundation Utils"
Hello,
Thanks for this lib, awesome work !
I am starting to code the foundation [off-canvas component](http://foundation.zurb.com/sites/docs/off-canvas.html), but I am bit confused on how to start.

As I understood while reading [the _Slider, Tooltip, Reveal, other JS Components_ issue](https://github.com/digiaonline/react-foundation/issues/6#issuecomment-199370665)'s comments, the lib should re-c

[2017-09-03 09:50] crisu83 commented on #47
The problem with using existing utils written with jQuery is the performance and the anti-pattern of using DOM manipulation libraries together with React. This is exactly the reason why we havn't implemented these features. I actually gave the approach a try long ago but abandoned it quickly because it promoted bad design.

Feel free to use whatever libraries you want, but remember that even thoug

[2017-09-03 09:50] #47 closed

[2017-09-03 14:02] froger commented on #47
thanks for your response, I understand you don't want jquery on the project, and I think it's a good idea.
However if you don't want to have any vanilla javascript library, you will have to re-implement libs like [imagesloaded](https://imagesloaded.desandro.com/) or [bean](https://github.com/fat/bean). Dependencies not always promote bad design ;)

[2017-09-03 15:13] crisu83 commented on #47
@froger I agree. We also try to keep the dependencies to the minimum. Just try to avoid DOM manipulation libraries if you can.

Just remember to check if you can use VanillaJS on caniuse.com if you only have to support the two latest version of each browser. Sometimes you'll be surprised how easy the solution can be.

[2017-09-05 00:44] brentdodell opened #48 "Errors with XY-Grid"
### What did you do?
Tried to use XY-Grid

### What did you expect to happen?
It to work.

### What actually happened?

I'm having issues with the XY-Grid. Grid works fine though.

With XY-Grid (`Grid` & `Cell`) I get the following (my file stays the same though other than swapping out the react-foundation components:

<img width="1412" alt="screen shot 2017-09-04 at 7 37 44 pm" src="https://user-

[2017-09-05 01:05] brentdodell commented on #48
I don't know for certain, but I wonder if it would be because one or both of the following is needing to be added to the respective files?

src/index.js
[code]

lib/index.js
[code]

[2017-09-05 05:53] #48 closed

[2017-09-07 00:49] brentdodell opened #50 "Update component examples on https://react.foundation/"
### What did you do?
Looked for examples of Accordion & XY-Grid on https://react.foundation/

### What did you expect to happen?
I expected there to be examples for every component provided in react-foundation

### What actually happened?
Those two components (and possibly others) were missing examples.

[2017-09-25 14:25] DmitryShevtsov commented on #20
@crisu83 any updates?

[2017-09-28 12:58] danielearwicker commented on #44
As referenced above, TS users can now get typings for this library in the standard way:

    npm install @types/react-foundation

[2017-09-28 12:58] #44 closed

[2017-10-12 07:05] crisu83 commented on #25
We also use CSS modules quite a lot, in fact that's the reason why we don't use Foundation that much anymore. Feel free to experiment and create a PR and we'll go from there.

[2017-11-13 08:46] rodolph66 opened #52 "Switch (react-foundation) & Switch (react-router-dom)"
Actually I was just about to install and use the react-foundation module when I realized the availability of the <Switch /> component which is identical to <Switch>...</Switch> that I use regularly with react router v4, and I was wondering before amending any of my react code if this will be an issue...?
Has anyone tried using both in the same component?

[2017-11-23 22:23] nilshartmann commented on #52
I think that shouldn't be a problem.

If you want to use both components in the same file you can just import them with different names.

For example you could  import `Switch` from react router as `RouterSwitch` to avoid name collision use:
[code]

[2017-11-27 19:17] rodolph66 commented on #52
(duhhh!!!) ... that did certainly slip my mind... Thanks a lot...

[2017-11-27 19:17] #52 closed

[2017-12-11 15:21] hdpinto commented on #50
Reveal seems to be missing documentation entirely as well

[2018-01-05 11:32] bobwalker99 commented on #23
Hi @crisu83 - your comments on [Issue 14 ](https://github.com/digiaonline/react-foundation/issues/14) imply that we shouldn't use ResponsiveNavigation and that it'll get removed - is this still the case?

[2018-02-12 03:36] Zorig opened #54 "Abide, or more js lib import"
### What did you do?
I want to make abide work on form validation
### What did you expect to happen?
Form validation, How can i import other js library?
### What actually happened?
I tried to `import { Abide, Foundation } from 'react-foundation';`
### What version of this module are you using?
0.9.2
Please include code that reproduces the issue. The best reproductions are self-contained scripts wi

[2018-02-12 09:20] crisu83 commented on #54
Closing because this is not an issue with our library.

[2018-02-12 09:20] #54 closed

[2018-03-01 18:11] bobwalker99 opened #55 "GridContainer full / fluid generates render warning from React"
### What did you do?
Added 'full' property to GridContainer - e.g. <`GridContainer full />`
### What did you expect to happen?
Container renders with full added to the div's class without console warnings.
### What actually happened?
Container renders with full added to the div's class but browser console emits a warning and a stack trace:
[code]
(This warning is also emitted by later versions of

[2018-03-06 16:59] horaciocoronel commented on #24
You need to install foundation-sites npm and then add the `import 'foundation-sites/dist/css/foundation.min.css';` in index.js

[2018-03-06 19:13] #12 closed

[2018-03-07 08:43] #23 closed

[2018-03-09 10:18] Victroll commented on #24
@horaciocoronel That just did work! I'm feeling a little bit stupid for not installing foundation-sites... :sweat:

[2018-03-12 11:23] DanielRuf opened #58 "do not require yarn"
So far `npm i` throws an error as it calls `yarn` which is not mentioned as a requirement and also many do not (yet) use yarn.

[2018-03-12 11:24] DanielRuf opened #59 "prepublish scripts are deprecated"
[code]

[2018-03-12 11:44] DanielRuf opened #63 "deprecations and outdated / insecure (peer) dependencies"
[code]

[code]

[2018-03-12 11:46] DanielRuf commented on #59
Open PR: https://github.com/digiaonline/react-foundation/pull/60

[2018-03-12 13:57] Jalle19 opened #65 "Fix the broken README badges"
Some of the badges are broken, probably due to the organization rename almost a year ago

* [x] test coverage
* [x] maintainability
* [x] Scrutinizer
* [x] npm version
* [x] npm downloads

[2018-03-12 14:44] hugovk commented on #65
NPM badges are provided by Shields.io, looks like they're having some 504 problems.

See https://github.com/badges/shields/issues/1568.

[2018-03-12 17:21] hugovk commented on #65
NPM badges working now.

![image](https://user-images.githubusercontent.com/1324225/37298952-90a91242-262a-11e8-9e08-3ddd63d9c61b.png)

[2018-03-12 17:21] #65 closed

[2018-03-13 09:20] vaaralav commented on #58
Thanks for the observation Daniel! We're using yarn in this project and [the updated contributing guidelines](https://github.com/digiaonline/react-foundation/blob/master/.github/CONTRIBUTING.md) list yarn as a requirement.

[2018-03-13 09:20] #58 closed

[2018-03-13 09:22] DanielRuf commented on #58
Thanks, this is much better.

[2018-04-09 19:39] abroccoli opened #70 "Out of Date Docs."
[code]

Hey all,

New installs of foundation-sites no longer have out of the box support for the float-grid system used by the Row and Column components. It has to be specifically enabled. This will no longer work for folks like myself making fresh codebases with the latest versions of foundation-sites and react-foundation:

[code]
Digging through the commits for react-foundation, I saw that all t

[2018-04-10 07:10] hugovk commented on #70
@abroccoli Thank you for the report, please could you submit a pull request to https://github.com/digiaonline/react-foundation-docs? Thanks!

[2018-04-10 07:31] hugovk commented on #59
Fixed by #60.

[2018-04-10 07:31] #59 closed

[2018-04-10 07:42] hugovk commented on #50
Pull requests to https://github.com/digiaonline/react-foundation-docs are welcome!

[2018-04-10 07:43] hugovk commented on #22
Pull requests are welcome!

[2018-04-18 20:45] devrasec opened #73 "Warning message when isColumn prop is set on Column component"
### What did you do?
Add a Column component with the prop `isColumn`.
### What did you expect to happen?
A div with the class `column` instead of `columns`.
### What actually happened?
The expected result is correct, but a warning regarding the prop `isColumn` show in the console.
### What version of this module are you using?
0.9.4
Please include code that reproduces the issue. The best reproduct

[2018-04-18 20:48] devrasec commented on #73
Hi, I just opened a PR to fix this. #74

[2018-05-05 21:23] rrajasek92 opened #76 "Does this work with React Native?"
I'm not too familiar with styling frameworks so was wondering if this would work with React Native. If not, are there any alternatives as far as Foundation goes that would work with mobile?
Thank you!

[2018-05-11 06:03] crisu83 commented on #76
Hello @rrajasek92,

Unfortunately stying in React Native is not done through CCS. Instead you usually use the `Stylesheet` class.

[2018-06-23 15:50] dorozco15 commented on #24
@horaciocoronel Im having the same issue but Imported the foundation css and row and column still dont have style.

[2018-07-04 15:10] arjabbar commented on #24
If it seems like the row and columns classes are missing it may be because the version of foundation-sites you installed doesn't have them. You could likely use the new grid classes here: https://foundation.zurb.com/sites/docs/xy-grid.html

[2018-07-25 19:29] sanderha opened #78 "XY grid"
Is it possible to use the XY grid with this package?

[2018-08-18 03:36] joey-c opened #79 "XY-Grid Cell drops FlexboxPropTypes"
Cell accepts both `GeneralPropTypes` and `FlexboxPropTypes` but only calls `generalClassNames(props)`. It does not call `flexboxClassNames(props)`.

### What did you do?
Pass `alignX='center'` or `centerAlign` to a Cell

### What did you expect to happen?
Contents of cell to be centered

### What actually happened?
Contents were not centered. Cell generated did not have any other classes.

### Wha

[2018-08-19 09:54] crisu83 commented on #79
@joey-c Thanks for reporting this issue. Would you mind creating a PR to fix this issue?

[2018-08-19 10:14] crisu83 commented on #79
Nevermind, I already took care of it myself. 😄

[2018-08-20 06:56] #79 closed

[2018-08-20 07:04] crisu83 commented on #79
Hello @joey-c, please install the latest version, [0.9.6](https://github.com/digiaonline/react-foundation/releases/tag/v0.9.6), and it should fix your issue.

[2018-09-14 09:46] therealedsheenan commented on #78
Is there any open branch for this to work on?

[2018-10-08 13:13] jondkinney commented on #25
@gpspake any progress on this approach since last year?

@crisu83 do you have any more details on your (seemingly preferred) approach with CSS modules?

[2018-10-12 08:50] crisu83 commented on #25
@jondkinney What we do is install `foundation-sites` using Yarn and import it in our entry `styles.css` file. This has worked well for us in the past.

[2018-10-17 16:58] JoshuaJWayne commented on #70
**I would also like to request an update to the Documentation as well.**  I am relatively new to working with ReactJs and have been looking for a way Foundation 6 + React.  Your Components seem like the perfect pairing to do this however I am unable to use them as the instruction is not clear to a newer react developer.

`import React from 'react-foundation' ;`
_... use components <--- this is unc

[2019-01-29 21:26] chrisdel101 opened #84 "Foundation is undefined"
Foundation is undefined.

[code]
### What did you do?
I installed `react-foundation` using `npm  install react-foundation --save` and confirmed it is added to package json. And `node_modules`.

[code]
Logging `react` in the same way returns a function.

### What did you expect to happen?
I expected that would be able to add a something like this and have it work.
[code]
If I am using it wrong I ap

[2019-02-19 11:10] joebentaylor opened #85 "Support for custom breakpoints"
Is there a way to add custom breakpoints?

In my current SCSS version of foundation, I just have to add another line with the name of the breakpoint and size.

Surely there is a way to do this with this component?

[2019-02-19 11:33] joebentaylor commented on #84
Have you tried
`import {Button} from 'foundation';`

[2019-02-19 11:37] joebentaylor commented on #70
@JoshuaJWayne isnt it supposed to be:
`import Foundation from 'react-foundation`
not:
`import React from 'react-foundation`

[2019-02-19 11:40] joebentaylor commented on #85
Ive looked through the source files an managed to understand that breakpoints are set in the enums.js file.

However there are no pixel values. How on earth does this work?

currently in this repo your breakpoints look like:
`
SMALL: 'small',
MEDIUM: 'medium',
LARGE: 'large'
`

Where as in reacts scss files theres a pixel value like this:
`
small: '320px',
medium: '768px',
large: '1024px'
`

Where

[2019-03-09 13:32] Sventenhaaf commented on #24
Maybe one could write a line about this in  [https://react.foundation/](the documentation)?

[2019-03-22 20:02] LeadDreamer commented on #6
I don't have a local development environment at the moment - was hacking on codepen and codesandbox to try out - but I *do* have the Slider working as a react component (slider first; will update twoHandleSlider next), and with a redux wrapper as well.  I don't think I'm in a position to be able to branch and push/pull, but can share my codesandbox with anyone interested...
It's not an extensive c

[2019-03-22 20:03] LeadDreamer commented on #6
I'll note that for performance sake, I kept the slider value as a *local* state, and use Redux actions to make it available to the store... so not completely stateless

[2019-03-23 00:16] LeadDreamer commented on #6
Well, actually, the component is technically stateless now - but still driven by foundation-slider.js, and a bit tricky attaching the plugin *after* mounting, as well as attaching the action.  Others likely can do it better.  The foundation-slider.js seems involved enough that pure react/redux could be tricky.

[2019-04-11 10:09] lukos commented on #25
@larpo It should be foundation-sites, not foundation-styles!

[2019-05-07 14:06] zoe-gonzales commented on #70
Hi, I’ve run into some of the same issues above being new to Foundation with React. This thread has helped a lot.  Is anyone currently working on these updates? If not, could I please work on them?

[2019-05-07 14:24] hugovk commented on #70
@zoe-gonzales No-one is currently working on this, a PR would be welcome. Thank you!

[2019-05-17 20:34] Jalle19 commented on #24
This is mentioned in the README nowadays

[2019-05-17 20:34] #24 closed

[2019-05-17 20:38] Jalle19 commented on #25
This has been mentioned in the README since some time now.

[2019-05-17 20:38] #25 closed

[2019-05-17 20:38] #41 closed

[2019-05-17 20:40] #76 closed

[2019-05-17 20:42] Jalle19 commented on #84
As you can see in https://github.com/digiaonline/react-foundation/blob/master/src/index.js, `react-foundation` exports each component separately, so instead of `import Foundation from 'react-foundation'` you should import the components you need, e.g.:

[code]

[2019-05-17 20:42] #84 closed

[2019-05-17 22:02] Jalle19 commented on #20
This has been added

[2019-05-17 22:02] #20 closed

[2019-05-17 22:02] Jalle19 commented on #6
Reveal was added some time ago

[2019-05-17 22:04] Jalle19 commented on #63
@hugovk maybe you could take care of these?

[2019-05-18 07:32] #50 closed

[2019-05-18 07:32] #70 closed

[2019-05-18 09:14] Jalle19 commented on #63
These probably come from your own dependencies, not the ones `react-foundation` depend on:

[code]

[2019-05-18 09:44] DanielRuf commented on #63
I have directly installed the deps if this project (git clone && yarn / npm install).

Also this was one year ago.

[2019-05-18 09:46] DanielRuf commented on #63
Ah I see you have also updated the deps in https://github.com/digiaonline/react-foundation/commit/d1dbca6e44a793fa0b9da51976d6d628c2fd0d5c.

Not sure what you mean.

[2019-05-18 09:48] DanielRuf commented on #63
Also shouldn't be `react` and others be `peerDependencies`?

[2019-05-18 11:33] Jalle19 commented on #63
Ah, in that case it's the devDependencies that have issues

[2019-05-25 16:25] pavanchaudhari commented on #85
@joebentaylor
hey Joe,

As I see the enum you referring to,

`export const Breakpoints = {
  SMALL: 'small',
  MEDIUM: 'medium',
  LARGE: 'large',
};`

is being used just for deciding the `className` on the element from foundation css.

E.g. If you observe the tests, here is how the enum `Breakpoints` is being used (or supposed to be used)

`const component = render(<ButtonGroup stackFor={Breakpoi

[2020-03-19 13:56] samudurand opened #103 "Update links"
Currently the react.foundation website seem down. Is there another source for the documentation ?

[2020-03-19 14:08] hugovk commented on #103
Thanks for letting us know, we'll have a look.

In the meantime, you can find the docs' repo at https://github.com/digiaonline/react-foundation-docs or archived at https://web.archive.org/web/20190403214937/http://react.foundation/

[2020-04-21 12:41] DanielReid opened #104 "'isDisabled' property on buttons does not disable the button"
Hi, I'd expect the isDisabled property to also have semantic functionality like it does on the normal `<button>` html component instead of purely cosmetic styling as currently is the case.

### What did you do?

- added `isDisabled={true}` to a `Button`

### What did you expect to happen?

I expected the button to not call its onClick method when clicked

### What actually happened?

The method wa

[2020-07-07 21:35] cdCorey opened #105 "Incorrect grid classes"
### What did you do?

[code]

### What did you expect to happen?

A Foundation grid with three equal width columns.

According to the Foundation 6 docs, that should look like this:

[code]

### What actually happened?

Three divs that appeared serialized vertically, not in a grid at all. The code output looked like this:

[code]

### What version of this module are you using?

"react-foundation":

[2020-09-12 21:56] #63 closed

[2020-09-16 12:18] alundiak opened #106 "Can someone bump fbjs => isomorphic-fetch - node-fetch ? (due to vulnerabilities)"
![image](https://user-images.githubusercontent.com/2131633/93335946-69c2ab80-f827-11ea-9b9e-4a3b744f6324.png)

[2020-09-21 07:44] timrobinson33 commented on #103
It looks like the domain name has expired

[2020-09-25 18:33] carystanley commented on #106
Most likely related to: https://github.com/matthew-andrews/isomorphic-fetch/pull/189

[2020-10-01 10:20] hugovk commented on #103
The docs are now up at https://digia.online/react-foundation-docs/ 🚀

Last thing to do: there's two places in the README where the link needs updating from

https://react.foundation

to

https://digia.online/react-foundation-docs/

Also delete the reference to the archived //github.com/digiaonline/react-boilerplate

Would someone like to do that for Hacktoberfest?

[2020-10-06 16:27] hugovk commented on #103
Fixed in https://github.com/digiaonline/react-foundation/commit/e1d68c7e3c9f00a973ecaa6cebede5e92d3d2fcb. Thanks!

[2020-10-06 16:27] #103 closed

[2020-11-10 14:05] sangdth commented on #106
Look like `fbjs` get rid of `isomorphic-fetch` in recent version.

![Screen Shot 2020-11-10 at 4 04 06 PM](https://user-images.githubusercontent.com/1083478/98684155-833b2c00-236e-11eb-88c5-6311631e9f86.png)

[2020-11-16 09:32] alundiak commented on #106
Quick update, so far I can confirm, that even I install below packages manually, it doesn't help me:

[code]

I mean I installed it, lock file updated, I then `rm -rf node_modules`, then `npm i` so that fresh packages fetched based on updated lock file. And same result.

Looks like the only way is to upgrade `react-founadtion` itself.

[2021-08-12 07:44] hugovk commented on #106
This specific one is now fixed in `master`, so I'll close this. PRs welcome to fix any others!

[2021-09-23 11:46] HtetOoWaiYan opened #118 "Documentation website not working"
### What did you do?
I go to https://digia.online/react-foundation-docs/.

### What did you expect to happen?
I expected a working site.

### What actually happened?
It showed "404 There isn't a GitHub Pages site here".

<img width="870" alt="Screen Shot 2021-09-23 at 6 15 02 PM" src="https://user-images.githubusercontent.com/25116846/134501330-04d0aaf3-e456-48a6-9d83-e279b1445746.png">

[2021-09-23 11:59] hugovk commented on #118
Thanks for the report, we'll take a look.

In the meantime, you can see the docs at https://digiaonline.github.io/react-foundation-docs/

[2021-09-23 12:25] hugovk commented on #118
OK should be sorted now!

---

The `digia.online` recently expired and was renewed, and it seems GitHub Pages had unlinked from it.

The fix was to go to the top-level repo (https://github.com/digiaonline/digiaonline.github.io/settings/pages), switch the branch from `master` to a temporary branch (from `master`) and then switch it back.

![image](https://user-images.githubusercontent.com/1324225/1

[2021-09-23 12:25] #118 closed

[2021-10-07 08:46] Spheniscine opened #119 ""Components with Bit" link not working"
It appears that the the "Components with Bit" link on the readme page is down, along with the entire `bitsrc.io` address

They may have changed their URL to [https://bit.dev/digiaonline/react-foundation](https://bit.dev/digiaonline/react-foundation)

[2021-10-07 09:35] #119 closed

[2022-07-27 00:00] rrichgithubwork opened #125 "XY Grid grid-x grid-margin-x and grid-margin-y"
### What did you do?
Try to implement gutter margin for both horizontal and vertical

### What did you expect to happen?
```<Grid gutters="margin" vertical> to result in => <div className="grid-x grid-margin-x grid-margin-y">```

### What actually happened?
```<div className="grid-x grid-margin-x">```
So I have to write it as:
```<Grid gutters="margin" className="grid-margin-y">```

Is this the be